@media screen and (max-width:992px){
    .frm-ar .row.ar{
        width:100% !important;
    }
    .frm-ar .row.but{
        width:100% !important;
    }
    .img-ar {
    margin-bottom: 20px;
}
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
     height: auto !important; 
}
.bg-dark .navbar-brand img {
    width: 70px;
}
a.btn-explre {
    right: 0px !important;
    margin-top: -40px !important;
}
.par-1{
    width:15% !important;
}
}